.subscribe-container {
    display: flex;
    align-items: center;
    padding: 12px;
}

.subscribe-button {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin-right: 1rem;
  transition: color 0.3s, background-color 0.3s;
  box-shadow: 0 0 10px rgba(163, 89, 191, 0.5);
  background-color: var(--accent-purple);
}

.subscribe-button:hover {
  color: var(--primary-purple);
  background-color: var(--hover-purple);
}

.subscribe-button-subscribed {
  background-color: var(--hover-purple);
}