.subscribe-container {
    display: flex;
    align-items: center;
    padding: 12px;
}

.subscribe-button {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: 2px solid white;
  border-radius: 4px;
  background-color: var(--primary-purple);
  transition: color 0.3s, background-color 0.3s;
}

.subscribe-button:hover {
  color: var(--primary-purple);
  background-color: var(--accent-yellow);
}