.answer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1.5rem;
  margin: 1.5rem 0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.answerText {
  font-size: 1.1rem;
  color: var(--text-dark);
  margin: 1rem;
}

.answerAuthor {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.answer_author {
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary-purple);
  text-decoration: none;
}

.answer_question_meta {
  font-size: 0.85rem;
  color: var(--text-light-gray);
}

.answerContent {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.answer-right-content {
  display: flex;
  align-items: flex-end;
  text-align: right;
  gap: 1rem;
}