.answer {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin: 1.5rem 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.answerText {
  font-size: 1.1rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.answerAuthor {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.answer_author {
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary-purple);
}

.answer_question_meta {
  font-size: 0.85rem;
  color: var(--text-light-gray);
}
