#answersHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  background: linear-gradient(to right, var(--dark-purple), var(--light-purple));
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.answer-question-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}

.header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.answer-stats {
  font-size: 1rem;
  font-weight: bold;
  color: var(--hover-purple);
}