.tag-page-container {
   background: #231228;
  background-image: 
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
}

.tag_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
  padding: 40px;
  background: #231228;
  background-image: 
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  animation: starsAnimation 75s linear infinite;
}

@keyframes starsAnimation {
  from { background-position: 0 0, 0 0, 0 0, 0 0; }
  to { background-position: 550px 550px, 350px 350px, 250px 250px, 150px 150px; }
}


.tags-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
}

.bold_title {
  font-size: 2em;
  color: #E0E7FF;
  text-shadow: 0 0 10px rgba(120, 149, 255, 0.8);
  font-weight: 600;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}

.bold_title:hover {
  text-shadow: 0 0 15px rgb(203, 120, 255),
               0 0 25px rgba(203, 120, 255, 0.8);
  transform: scale(1.02);
}