.chatroom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: rgba(60, 30, 90, 1);
  color: #ddd;
  overflow: hidden;
}

.chatroom-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../../../images/stars.gif');
  background-size: 600px 600px;
  background-repeat: repeat;
  opacity: 0.2;
  pointer-events: none;
  z-index: 0;
}

.chatroom {
  z-index: 1;
  padding: 2rem;
  border-radius: 16px;
  width: 90%;
  margin: auto;
}
.chatroom h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--hover-purple);
  text-align: center;
  margin-bottom: 1rem;
}

.input-area input,
.input-area button {
  all: unset; /* Reset default */
}

.input-area {
  display: flex;
  align-items: stretch;
  margin-bottom: 1rem;
}

.input-area input {
  flex: 1;
  height: 2.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid var(--border-gray);
  border-radius: 4px;
  margin-right: 0.5rem;
  background-color: var(--background-light);
  color: var(--text-dark);
}

.input-area button {
  height: auto;
  background-color: var(--primary-purple);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0rem 1rem;
  transition: background-color 0.3s;
}

.input-area button:hover {
  background-color: var(--hover-purple);
}
