.chatroom {
  margin: 20px;
  padding: 1.5rem;
  max-width: 800px;
  width: 100%;
  background-color: var(--background-white);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chatroom h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-purple);
  text-align: center;
  margin-bottom: 1rem;
}

.input-area {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.input-area input {
  flex: 1;
  height: 2.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid var(--border-gray);
  border-radius: 4px;
  margin-right: 0.5rem;
  background-color: var(--background-light);
  color: var(--text-dark);
}

.input-area button {
  height: 2.5rem;
  background-color: var(--primary-purple);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0rem 1rem;
  transition: background-color 0.3s;
  box-sizing: border-box;
}

.input-area button:hover {
  background-color: var(--hover-purple);
}