.chatroom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: rgba(60, 30, 90, 1);
  color: #ddd;
  overflow: hidden;
  min-height: 100%;
}

.chatroom-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../../../images/stars.gif');
  background-size: 600px 600px;
  background-repeat: repeat;
  opacity: 0.2;
  pointer-events: none;
  z-index: 0;
}

.chatroom {
  z-index: 1;
  padding: 2rem;
  border-radius: 16px;
  width: 95%;
  margin: auto;
}

.chatroom h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--hover-purple);
  text-align: center;
  margin-bottom: 1rem;
}

.chat-input-area input,
.chat-input-area button {
  all: unset; /* Reset default */
}

.chat-input-area {
  display: flex;
  align-items: stretch;
  margin-bottom: 1rem;
}

.chat-input-area input {
  border-radius: 4px;
  border: 2px solid var(--accent-purple);
  flex: 1;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  margin-right: 0.5rem;
  background-color: var(--primary-purple);
  color: white;
}

.chat-input-area input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.3s ease;
}

.chat-input-area input:focus {
  border-color: #a359bf;
  box-shadow: 0 0 10px rgba(163, 89, 191, 0.8);
  background-color: #e397ff45;
  outline: none;
}

.chat-input-area input:focus::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.chat-input-area button {
  height: auto;
  background-color: var(--primary-purple);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0rem 1rem;
  transition: background-color 0.3s;
}

.chat-input-area button:hover {
  background-color: var(--hover-purple);
}
