.vote-container {
  display: flex;
  align-items: center;
  padding: 12px;
}

.vote-button {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: 2px solid white;
  border-radius: 4px;
  background-color: var(--primary-purple);
  transition: color 0.3s, background-color 0.3s;
  margin-right: 0.5rem;
}

.vote-button:hover {
  color: var(--primary-purple);
  background-color: var(--accent-yellow);
}

.vote-button-upvoted {
  background-color: #38a169;
  color: white;
}

.vote-button-downvoted {
  background-color: #e53e3e;
  color: white;
}

.vote-count {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--text-dark);
  margin-left: 0.5rem;
}
