.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
  }
  
  .message.current-user {
    flex-direction: row-reverse;
  }
  
  .profile-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
  }
  
  .message.current-user .profile-group {
    margin-left: 1rem;
    margin-right: 0;
  }
  
  .profile-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
  }
  
  .username {
    font-size: 1rem;
    color: var(--hover-purple);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
  }
  
  .message-content {
    background-color: var(--background-light);
    padding: 0.3rem 1rem;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 60%;
    word-wrap: break-word;
    color: var(--primary-purple);
  }
  
  .message.current-user .message-content {
    background-color: var(--primary-purple);
    color: white;
    text-align: left;
  }
  
  .timestamp {
    font-size: 0.8rem;
    color: var(--text-light-gray);
    padding-bottom: 0.5rem;
  }