.ask-btn {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin-right: 1rem;
    transition: color 0.3s, background-color 0.3s;
    background-color: var(--accent-purple);
    font-size: 16px;
    box-shadow: 0 0 10px rgba(163, 89, 191, 0.5);

  }
  
  .ask-btn:hover {
    background-color: var(--hover-purple);
  }