.ask-btn {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: 2px solid white;
    border-radius: 4px;
    margin-right: 1rem;
    transition: color 0.3s, background-color 0.3s;
    background-color: var(--primary-purple);
    font-size: 16px;
  }
  
  .ask-btn:hover {
    color: var(--primary-purple);
    background-color: var(--accent-yellow);
  }