.tagNode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  transition: all 0.3s ease;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.tagNode:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  transform: translateY(-5px);
}

.tagName {
  color: #b880e3;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 10px;
}

.tagDescription {
  color: #a5a5a5;
  font-size: 1em;
  margin-bottom: 10px;
}

.tagNode > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tag-count {
  color: rgb(215, 210, 210);
}
