.tagNode {
  place-self: center;
  border: 1px solid #ddd;
  padding: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.tagNode:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.tagName {
  color: #007bff;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 10px;
}

.tagDescription {
  color: #666;
  font-size: 1em;
  margin-bottom: 10px;
}

.tagNode > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
