/* All the CSS related to answers Page */
.answer {
  display: flex;
  flex-direction: row;
  border-bottom: 1px dashed #000000;
  padding: 1em 0;
  background-color: #f9f9f9;
  margin-bottom: 1em;
  border-radius: 6px;
}

.answerText {
  width: 75%;
}

.answerAuthor {
  margin-left: 5%;
}

.answer_question_meta {
  color: #bbbbbb;
}

.ansButton {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin-right: 1rem;
  transition: color 0.3s, background-color 0.3s;
  box-shadow: 0 0 10px rgba(163, 89, 191, 0.5);
  background-color: var(--accent-purple);
}

.ansButton:hover {
  background-color: var(--hover-purple);
  color: var(--primary-purple);
}

.comment-section {
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 6px;
  background-color: #f9f9f9;
  font-size: 0.9rem;
  border: 2px solid var(--primary-purple);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.toggle-button {
  background-color: var(--primary-purple);
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.toggle-button:hover {
  background-color: var(--hover-purple);
  color: var(--primary-purple);
}

.comments-container {
  margin-top: 0.5em;
}

.comments-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.answer-button-container {
  display: flex;
  align-items: center;
}